* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #183849;
}

.slogan-section {
    margin-left: 25px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 4.44rem;
    padding: 0 5%;
    box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.05);
    font-size: 1rem;
    font-weight: bold;
    color:#183849;
    text-align: center;
    background-color:#B31312 ;
}
.header .logo {
    flex-grow: 12rem;
    }

    .header li {
        display: inline-block;
        margin-right: 2.22rem;
    }

    .header li:last-child {
        text-decoration: none;
        margin-right: 0;
        color: #F99417;
    }

    .header li a {
        text-decoration: none;
        color: #000;
    }